@model IEnumerable<Nu3.Models.User>
<div class="row">
    <div class="col-md-12" style="text-align:right">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for user" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Surname</th>
            <th>Firstname</th>
            <th></th>
        </tr>
    </thead>
    <tr style="font-size:1.2em">
        <td>
            <span class="data-txt">26049145968</span>
        </td>
        <td>
            Erik
        </td>
        <td>
            Bjorvik
        </td>
        <td>
            <button type="button" class="btn btn-success">Select</button>
        </td>
    </tr>

</table>
